body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: sans-serif;
  }
  
label {
    position: absolute;
    width: 45px;
    height: 22px;
    left: 10px;
    top: 10px;
    border: 2px solid;
    border-radius: 20px;
}

label:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    transition: 0.4s;
}
label.active:before {
    left: 24px;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}
.responsive-banner {
    color: rgb(16, 16, 16);
    background-image: #fff;
}

.logo {
    display: flex;
    height: 50px;
    
}

.logo img {
    height: 50px;
    border-end-start-radius: 0%;
    top: 30px;
    right: 97%;
    z-index: -1;   
}

.logo span {
    font-size: x-small;
    padding-bottom: 5px;
}

.responsive-banner {
    display: inline-block;
    margin: 50px;
    width: 60em;
    position: relative;
    border-radius: 10px;
     width: 60em;
    height: 25.5em; 
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
      background-image: linear-gradient(to bottom right, #817d80, #2a282c);
      background-repeat: no-repeat;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .container-envelope {
    max-width: calc(100%);
    padding: 15px;
    color: #fff;
     display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    /* min-height: 300px;
    max-height: 450px; */
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding-bottom: 0px;
      padding-left: 50px;
    /* -webkit-align-self: flex-end;
              -ms-flex-item-align: end;
                      align-self: flex-end; */
  }
  
  @media (min-width: 650px) {
    .col-xs-12 {
      -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
      .container-envelope {
      max-width: calc(100% - 200px);
    }
  }
  p {
      clear: both;
      font-family: 'Work Sans', Helvetica, sans-serif;
      text-transform: none;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      line-height: 1.15;
      word-wrap: break-word;
      margin: 1em 0 0.5em;
      margin: 0;
      padding: 0;
      color: #fff;
      position: relative;
      word-wrap: break-word;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  a.more-link {
      background-color: rgba(255, 255, 255, 0.35);
      display: inline-block;
      padding: 12px 18px;
      color: #fff;
      text-decoration: none;
      font: 500 15px 'Work Sans', Helvetica, sans-serif;
      line-height: 1.5;
      text-align: center;
      border: none !important;
      position: relative;
      border-radius: 30px;
    text-transform: uppercase;
      -webkit-transition: .1s all ease-in-out;
      -moz-transition: .1s all ease-in-out;
      -o-transition: .1s all ease-in-out;
      transition: .1s all ease-in-out;
  }
  a.more-link:hover {
    background-color: rgba(255, 255, 255, 0.50);
  }
  svg, img {
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
  }
  img {
    max-width : 50%;
  }
  .cirle-a {
    bottom: 80px;
    left: 80px;
  }
  .cirle-b {
    top: 30px;
    right: 70%;
  }
  .cirle-c {
    top: 90px;
    right: 300px;
  }
  .cirle-d {
    top: 105px;
        right: 145px;
  }
  img {
    top: 0;
    right: 0;
    border-end-start-radius: 100%;
  }
  
  h1 {
    text-align: center;
    margin: 30px 15px;
  }
  .link-container {
    text-align: center;
  }
  
 /* ------ */

  .line {
	margin: 0 0 10px;
	width: 100%;
	height: 78px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 78px;
	transform: skew(0, -5deg);
}

.line:after,
.line:first-child:before {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1;
	display: block;
	width: 330px;
	height: 78px;
	border-radius: 4px;
	background: rgba(174, 171, 171, 0.8);
	content: '';
	transform: skew(0, 15deg);
}

.line:first-child:before {
	top: -10px;
	right: 0;
	left: auto;
}

.line:first-child:before,
.line:last-child:after {
	width: 0;
	height: 0;
	border-width: 38px;
	border-style: solid;
	border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
	background: transparent;
}

.line:last-child:after {
	top: 12px;
	border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

/* ------  */

.intro h3 {
    font-size: 1.32em;
    line-height: 1;
}
.intro h3 span:first-of-type {
    font-weight:19;
    letter-spacing:0.4px;
    color: rgb(243, 243, 243);
    
}
.intro h3 span:last-of-type {
    font-weight: 750;
    letter-spacing: 1px;
    font-size: 0.88em;
    margin-bottom: 0.1em;
    padding-left: 50px;
}

.intro {
    padding-top: 90px;
}


/* ------- */

.services ul {
	
	width: 2;
	
}


.services ul li {
	
	color: #fff;
	font-weight: 400;
	font-size: 0.6em;
	letter-spacing: 0.28em;
	margin: 0px 0;
	
}


.container {
    padding-top: 50px;
}


.services .left {
	
	float: left;
	
}

.services .right {
	
	float: right;
	text-align: right;
	
}

.services .right li {
    display: flex;
}

.services .left li {
    display: flex;
}
.services hr {
	
	height: 2px;
    width: 120px;
	background-color: #0b0b0a;
	border: 1px solid #080808;

}



